body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: #222222;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.header {
  margin-top: 50px;
  margin-bottom: 30px;

  & h1 {
    margin-left: 15px;
  }
}

h3 {
  margin-top: 50px;
}

ul {
  padding-left: 0;
}

hr {
  border-top: none;
  border-bottom: 1px solid #aaa;
}